app/gradle/wrapper/gradle-wrapper.jar
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/Stundenplaner.FHE_EAH.iml
app/gradle/wrapper/gradle-wrapper.properties
*.bak
app/gradlew
doc/EAHKeystore
doc/deployment_cert.der
doc/google-firebase-CloudMessagingAPI-Keys.txt
doc/google-firebase-services_FHE_EAH_Mobile.json.txt
*.pepk
*.der
doc/maps - Kopie/
doc/readmeKeys.txt
app/gradle/wrapper/
doc/EAH_Keys_App.zip
doc/Baupläne/Baupläne.zip
backend-php-push/.idea/
