openapi: 3.0.0
info:
  title: [WIP] Stundenplan API
  description: [WIP] Eine API für den Stundenplan der EAH Jena.
  version: 0.0.0

servers:
  - url: https://stundenplan.eah-jena.de/moses/api/v1

tags:
  - name: Buchung
    description: Informationen zu Buchungen
  - name: Hochschule
    description: Informationen über Gebäude und Räume
  - name: Studiengang
    description: Informationen zu einem Studiengang oder dessen Prüfungsordnung
  - name: Weiteres
    description: Veranstaltungen, Verlaufspläne und Fachsemesterzuordnungen

components:
  schemas:
    ###
    # Schemas to be used inside other schemas
    ###
    lvVorlage:
      required:
        - id
      type: object,
      properties:
        id:
          type: integer
          format: int32
        endpointPath:
            type: string
            enum:
              - "/lvvorlage",
            description: ""
    organisationseinheit:
      required:
        - id
      type: object,
      properties:
        id:
          minimum: 1
          type: integer,
          description: Datenbank-ID in Moses,
          format: int32
        eidFromImport:
          type: string
          description: "Extern-ID, wird beim Import aus anderen Systemen gesetzt. Muss keine Zahl sein, da intern als Zeichenkette gespeichert."
        name:
          type: string
          description: "Name: Beste menschenlesbare Darstellung des Objekts."
        kurzname:
          type: string
          description: "Wenn es einen abgekürzten Namen gibt, wird dieser hier zurückgegeben. Ansonsten wird der normale Name zurückgegeben."
        mosesTypeCode:
          type: string
          enum:
            - "oe",
          description: ""
        endpointPath:
          type: string
          enum:
            - "/organisationseinheit",
          description: ""
    buchungsgruppe:
      type: object
    semester:
      required:
        - id
      type: object
      properties:
        id:
          minimum: 1
          type: integer,
          description: Datenbank-ID in Moses,
          format: int32
        eidFromImport:
          type: string
          description: "Extern-ID, wird beim Import aus anderen Systemen gesetzt. Muss keine Zahl sein, da intern als Zeichenkette gespeichert."
        endpointPath:
          type: string
          enum:
            - "/semester",
          description: ""
    entity:
      type: object
    ###
    # Main schemas to be used as return types
    ###
    calVeranstaltung:
      required:
        -  id
      type: object,
      properties:
        id:
          minimum: 1
          type: integer
          description: Datenbank-ID in Moses,
          format: int32
        name:
          type: string
          description: "Name: Beste menschenlesbare Darstellung des Objekts."
        kurzname:
          type: string,
          description: "Wenn es einen abgekürzten Namen gibt, wird dieser hier zurückgegeben. Ansonsten wird der normale Name zurückgegeben."
        mosesTypeCode:
          type: string
          description: ""
        endpointPath:
          type: string
          enum:
            - "/calveranstaltung"
          description: ""
        calVeranstaltungstyp:
          type: string
          enum:
            - "PRUEFUNG",
            - "LEHRVERANSTALTUNG",
            - "EVENT"
        lvVorlage:
          $ref: "#/components/schemas/lvVorlage"
        oeList:
          type: array
          items:
            $ref: "#/components/schemas/organisationseinheit"
        buchungsgruppeList:
          type: array
          items:
            $ref: "#/components/schemas/buchungsgruppe"
          description: CONTENT NOT KNOWN USE WITH CAUTION
        vplGruppeList:
          type: array
          items:
            type: object
          description: CONTENT NOT KNOWN USE WITH CAUTION
        lvNummer:
          type: string
        veroeffentlicht:
          type: boolean
        semester:
          $ref: "#/components/schemas/semester"
        veranstaltungsformat:
          type: object
          properties:
            id:
              minimum: 1
              type: integer
              description: Datenbank-ID in Moses,
              format: int32
            eidFromImport:
              type: string
              description: "Extern-ID, wird beim Import aus anderen Systemen gesetzt. Muss keine Zahl sein, da intern als Zeichenkette gespeichert."
            name:
              type: string
              description: "Name: Beste menschenlesbare Darstellung des Objekts."
            mosesTypeCode:
              type: string
              description: ""
        pruefendeList:
          type: array,
          items:
            $ref: "#/components/schemas/entity"
        new:
          type: boolean
        geaendert:
          type: boolean

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API-Schlüssel für den Zugriff auf die Stundenplan-API.

  parameters:
    pageNumber:
      in: query
      name: pageNumber
      required: false
      schema:
        type: integer
        minimum: 1

security:
  - ApiKeyAuth: []

paths:
  /calveranstaltung:
    get:
      summary: Alle Veranstaltungen abrufen
      tags:
        - Weiteres
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage der Veranstaltungen
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Veranstaltungen
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer
                  pageSize:
                    type: integer
                    description: Die Anzahl der Veranstaltungen pro Seite
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID der Veranstaltung
                        name:
                          type: string
                          description: Der Name der Veranstaltung
                        kurzname:
                          type: string
                          description: Der Kurzname der Veranstaltung
                        mosesTypeCode:
                          type: string
                          description: Der Typcode der Veranstaltung im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad der Veranstaltung
                        calVeranstaltungstyp:
                          type: string
                          description: Der Veranstaltungstyp
                        lvVorlage:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Lehrveranstaltungsvorlage
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Lehrveranstaltungsvorlage
                        oeList:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID der Organisationseinheit
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID der Organisationseinheit aus dem Import
                              name:
                                type: string
                                description: Der Name der Organisationseinheit
                              kurzname:
                                type: string
                                description: Der Kurzname der Organisationseinheit
                              mosesTypeCode:
                                type: string
                                description: Der Typcode der Organisationseinheit im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad der Organisationseinheit
                        buchungsgruppeList:
                          type: array
                          description: Eine Liste von Buchungsgruppen
                          items: { }
                        vplGruppeList:
                          type: array
                          description: Eine Liste von VPL-Gruppen
                          items: { }
                        lvNummer:
                          type: string
                          description: Die Lehrveranstaltungsnummer
                        veroeffentlicht:
                          type: boolean
                          description: Gibt an, ob die Veranstaltung veröffentlicht ist
                        semester:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Semesters
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Semesters aus dem Import
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad des Semesters
                        veranstaltungsformat:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Veranstaltungsformats
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Veranstaltungsformats aus dem Import
                            name:
                              type: string
                              description: Der Name des Veranstaltungsformats
                            mosesTypeCode:
                              type: string
                              description: Der Typcode des Veranstaltungsformats im MOSES-System
                        pruefendeList:
                          type: array
                          description: Eine Liste der prüfenden Personen
                          items: { }
                        geaendert:
                          type: boolean
                          description: Gibt an, ob die Veranstaltung geändert wurde
                        new:
                          type: boolean
                          description: Gibt an, ob die Veranstaltung neu ist
        default:
          description: Unexpected error
  /studiengang:
    get:
      summary: Informationen zu allen oder bestimmten Studiengängen abrufen
      description:
        Diese Anfrage besitzt den optionalen Parameter "name" mit dem nach einem bestimmten 
        Studiengang gesucht werden kann. Wird dieser ausgelassen, werden alle Studiengänge 
        zurückgegeben.
      tags:
        - Studiengang
      parameters:
        - in: query
          name: name
          description: Der Name des gesuchten Studiengangs
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage des Studiengangs
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Studiengängen (in diesem Fall 1)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Studiengänge pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID des Studiengangs
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID des Studiengangs aus dem Import
                        name:
                          type: string
                          description: Der Name des Studiengangs
                        kurzname:
                          type: string
                          description: Der Kurzname des Studiengangs
                        mosesTypeCode:
                          type: string
                          description: Der Typcode des Studiengangs im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad des Studiengangs
                        visible:
                          type: boolean
                          description: Gibt an, ob der Studiengang sichtbar ist
                        studiengangart:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Studiengangart
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Studiengangart aus dem Import
                            name:
                              type: string
                              description: Der Name der Studiengangart
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Studiengangart im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Studiengangart
                        makroturnus:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Makroturnus
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Makroturnus aus dem Import
        default:
          description: Unexpected error
  /stupo:
    get:
      summary: Prüfungsordnung eines Studiengangs abrufen
      tags:
        - Studiengang
      parameters:
        - in: query
          name: name
          description: Der Name des gesuchten Studiengangs
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage des Studiengangs
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Studiengängen (in diesem Fall 2)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Studiengänge pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID des Studiengangs
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID des Studiengangs aus dem Import
                        name:
                          type: string
                          description: Der Name des Studiengangs
                        kurzname:
                          type: string
                          description: Der Kurzname des Studiengangs
                        mosesTypeCode:
                          type: string
                          description: Der Typcode des Studiengangs im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad des Studiengangs
                        visible:
                          type: boolean
                          description: Gibt an, ob der Studiengang sichtbar ist
                        studiengangart:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Studiengangart
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Studiengangart aus dem Import
                            name:
                              type: string
                              description: Der Name der Studiengangart
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Studiengangart im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Studiengangart
                        makroturnus:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Makroturnus
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Makroturnus aus dem Import
        default:
          description: Unexpected error
  /verlaufsplanzuordnung:
    get:
      summary: Informationen zur Verlaufsplanzuordnung abrufen
      tags:
        - Weiteres
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage der Verlaufsplanzuordnung
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Verlaufsplanzuordnungen (in diesem Fall 103)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Verlaufsplanzuordnungen pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID der Verlaufsplanzuordnung
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID der Verlaufsplanzuordnung aus dem Import
                        name:
                          type: string
                          description: Der Name der Verlaufsplanzuordnung
                        kurzname:
                          type: string
                          description: Der Kurzname der Verlaufsplanzuordnung
                        mosesTypeCode:
                          type: string
                          description: Der Typcode der Verlaufsplanzuordnung im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad der Verlaufsplanzuordnung
                        pflichttyp:
                          type: string
                          description: Der Pflichttyp der Verlaufsplanzuordnung
                        lvVorlage:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Lehrveranstaltungsvorlage
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Lehrveranstaltungsvorlage aus dem Import
                            name:
                              type: string
                              description: Der Name der Lehrveranstaltungsvorlage
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Lehrveranstaltungsvorlage im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Lehrveranstaltungsvorlage
                        metakursGruppe:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Metakursgruppe
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Metakursgruppe aus dem Import
                            name:
                              type: string
                              description: Der Name der Metakursgruppe
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Metakursgruppe im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Metakursgruppe
        default:
          description: Unexpected error
  /buchungsgruppe:
    get:
      summary: Informationen zur Buchungsgruppe abrufen
      tags:
        - Buchung
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage der Buchungsgruppe
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Buchungsgruppen (in diesem Fall 40)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Buchungsgruppen pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID der Buchungsgruppe
                        name:
                          type: string
                          description: Der Name der Buchungsgruppe
                        kurzname:
                          type: string
                          description: Der Kurzname der Buchungsgruppe
                        mosesTypeCode:
                          type: string
                          description: Der Typcode der Buchungsgruppe im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad der Buchungsgruppe
                        startDate:
                          type: string
                          format: date
                          description: Das Startdatum der Buchungsgruppe
                        endDate:
                          type: string
                          format: date
                          description: Das Enddatum der Buchungsgruppe
                        startPoint:
                          type: string
                          format: date-time
                          description: Der Startzeitpunkt der Buchungsgruppe
                        endPoint:
                          type: string
                          format: date-time
                          description: Der Endzeitpunkt der Buchungsgruppe
                        campusList:
                          type: array
                          description: Eine Liste von Campi, die dieser Buchungsgruppe zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID des Campus
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID des Campus aus dem Import
                              name:
                                type: string
                                description: Der Name des Campus
                              mosesTypeCode:
                                type: string
                                description: Der Typcode des Campus im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad des Campus
                        calVeranstaltung:
                          type: object
                          description: Die zugehörige Kalenderveranstaltung
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Kalenderveranstaltung
                            name:
                              type: string
                              description: Der Name der Kalenderveranstaltung
                            kurzname:
                              type: string
                              description: Der Kurzname der Kalenderveranstaltung
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Kalenderveranstaltung im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Kalenderveranstaltung
                        buchungList:
                          type: array
                          description: Eine Liste von Buchungen, die dieser Buchungsgruppe zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID der Buchung
                              name:
                                type: string
                                description: Der Name der Buchung
                              kurzname:
                                type: string
                                description: Der Kurzname der Buchung
                              mosesTypeCode:
                                type: string
                                description: Der Typcode der Buchung im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad der Buchung
                        raumList:
                          type: array
                          description: Eine Liste von Räumen, die dieser Buchungsgruppe zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID des Raums
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID des Raums aus dem Import
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad des Raums
                        terminart:
                          type: string
                          description: Die Art des Termins (z.B. EINZELTERMIN)
                        ort:
                          type: string
                          description: Der Ort der Buchungsgruppe
        default:
          description: Unerwarteter Fehler
  /buchung:
    get:
      summary: Informationen zur Buchung abrufen
      tags:
        - Buchung
      parameters:
          - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage der Buchung
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Buchungen (in diesem Fall 251)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Buchungen pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID der Buchung
                        name:
                          type: string
                          description: Der Name der Buchung
                        kurzname:
                          type: string
                          description: Der Kurzname der Buchung
                        mosesTypeCode:
                          type: string
                          description: Der Typcode der Buchung im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad der Buchung
                        startPoint:
                          type: string
                          format: date-time
                          description: Der Startzeitpunkt der Buchung
                        endPoint:
                          type: string
                          format: date-time
                          description: Der Endzeitpunkt der Buchung
                        startTime:
                          type: string
                          format: time
                          description: Die Startzeit der Buchung
                        endTime:
                          type: string
                          format: time
                          description: Die Endzeit der Buchung
                        onlineTermin:
                          type: boolean
                          description: Gibt an, ob es sich um einen Online-Termin handelt
                        raumList:
                          type: array
                          description: Eine Liste von Räumen, die dieser Buchung zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID des Raums
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID des Raums aus dem Import
                              name:
                                type: string
                                description: Der Name des Raums
                              mosesTypeCode:
                                type: string
                                description: Der Typcode des Raums im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad des Raums
                        pausendauer:
                          type: integer
                          description: Die Dauer der Pause für die Buchung
                        vorbereitungsdauer:
                          type: integer
                          description: Die Dauer der Vorbereitung für die Buchung
                        nachbereitungsdauer:
                          type: integer
                          description: Die Dauer der Nachbereitung für die Buchung
                        lveNummer:
                          type: string
                          description: Die Nummer der Lehrveranstaltung
                        lveBeschreibung:
                          type: string
                          description: Die Beschreibung der Lehrveranstaltung
                        campusList:
                          type: array
                          description: Eine Liste von Campi, die dieser Buchung zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID des Campus
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID des Campus aus dem Import
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad des Campus
                        terminart:
                          type: string
                          description: Die Art des Termins (z.B. EINZELTERMIN)
                        calVeranstaltungstyp:
                          type: string
                          description: Der Typ der Kalenderveranstaltung
                        lehrleistung:
                          type: number
                          description: Die Leistung der Lehrveranstaltung
                        campusIsDigital:
                          type: boolean
                          description: Gibt an, ob der Campus digital ist
                        campusEid:
                          type: string
                          description: Die eindeutige ID des Campus
                        buchungsgruppe:
                          type: object
                          description: Die zugehörige Buchungsgruppe
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Buchungsgruppe
                            name:
                              type: string
                              description: Der Name der Buchungsgruppe
                            kurzname:
                              type: string
                              description: Der Kurzname der Buchungsgruppe
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Buchungsgruppe im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Buchungsgruppe
        default:
          description: Unerwarteter Fehler
  /raum:
    get:
      summary: Informationen zum Raum abrufen
      tags:
        - Hochschule
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage des Raums
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Räumen (in diesem Fall 5)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Räume pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID des Raums
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID des Raums aus dem Import
                        name:
                          type: string
                          description: Der Name des Raums
                        kurzname:
                          type: string
                          description: Der Kurzname des Raums
                        mosesTypeCode:
                          type: string
                          description: Der Typcode des Raums im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad des Raums
                        alternativname:
                          type: string
                          description: Alternativer Name des Raums
                        groesse:
                          type: number
                          description: Die Größe des Raums
                        nummer:
                          type: string
                          description: Die Nummer des Raums
                        stockwerk:
                          type: string
                          description: Das Stockwerk, in dem sich der Raum befindet
                        raumFreitextfeldList:
                          type: array
                          description: Eine Liste von Freitextfeldern für den Raum
                          items:
                            type: object
                            properties: {} # Leere Eigenschaften, da die Struktur der Freitextfelder variieren kann
                        raumeigenschaftList:
                          type: array
                          description: Eine Liste von Eigenschaften des Raums
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID der Raumeigenschaft
                              name:
                                type: string
                                description: Der Name der Raumeigenschaft
                              kurzname:
                                type: string
                                description: Der Kurzname der Raumeigenschaft
                              mosesTypeCode:
                                type: string
                                description: Der Typcode der Raumeigenschaft im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad der Raumeigenschaft
                              beschreibung:
                                type: string
                                description: Die Beschreibung der Raumeigenschaft
                              langnameKurzversionImKontext:
                                type: string
                                description: Die Kurzversion des Namens im Kontext der Raumeigenschaft
                              nichttrivialeKategorie:
                                type: boolean
                                description: Gibt an, ob die Kategorie der Raumeigenschaft nicht trivial ist
                              nichttrivialeVariante:
                                type: boolean
                                description: Gibt an, ob die Variante der Raumeigenschaft nicht trivial ist
                              variantenList:
                                type: array
                                description: Eine Liste von Varianten der Raumeigenschaft
                                items: {} # Leere Eigenschaften, da die Struktur der Varianten variieren kann
                              kategorie:
                                type: object
                                description: Die Kategorie der Raumeigenschaft
                                properties:
                                  id:
                                    type: integer
                                    description: Die eindeutige ID der Kategorie
                                  name:
                                    type: string
                                    description: Der Name der Kategorie
                                  mosesTypeCode:
                                    type: string
                                    description: Der Typcode der Kategorie im MOSES-System
                                  endpointPath:
                                    type: string
                                    description: Der Endpunkt-Pfad der Kategorie
                        raumtyp:
                          type: object
                          description: Der Typ des Raums
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Raumtyps
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Raumtyps aus dem Import
                            name:
                              type: string
                              description: Der Name des Raumtyps
                            mosesTypeCode:
                              type: string
                              description: Der Typcode des Raumtyps im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad des Raumtyps
                        gebaeude:
                          type: object
                          description: Das Gebäude, in dem sich der Raum befindet
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Gebäudes
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Gebäudes aus dem Import
        default:
          description: Unerwarteter Fehler
  /gebaeude:
    get:
      summary: Informationen zum Gebäude abrufen
      tags:
        - Hochschule
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage des Gebäudes
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Gebäuden (in diesem Fall 1)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Gebäude pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID des Gebäudes
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID des Gebäudes aus dem Import
                        name:
                          type: string
                          description: Der Name des Gebäudes
                        kurzname:
                          type: string
                          description: Der Kurzname des Gebäudes
                        mosesTypeCode:
                          type: string
                          description: Der Typcode des Gebäudes im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad des Gebäudes
                        adresse:
                          type: string
                          description: Die Adresse des Gebäudes
                        adresseInline:
                          type: string
                          description: Die Adresse des Gebäudes in einem Inline-Format
                        oeffnungszeiten:
                          type: object
                          description: Die Öffnungszeiten des Gebäudes
                          properties:
                            startTime:
                              type: string
                              format: time
                              description: Die Startzeit der Öffnungszeiten
                            endTime:
                              type: string
                              format: time
                              description: Die Endzeit der Öffnungszeiten
                        raumList:
                          type: array
                          description: Eine Liste von Räumen, die dem Gebäude zugeordnet sind
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: Die eindeutige ID des Raums
                              eidFromImport:
                                type: string
                                description: Die eindeutige ID des Raums aus dem Import
                              name:
                                type: string
                                description: Der Name des Raums
                              mosesTypeCode:
                                type: string
                                description: Der Typcode des Raums im MOSES-System
                              endpointPath:
                                type: string
                                description: Der Endpunkt-Pfad des Raums
                        campus:
                          type: object
                          description: Der Campus, dem das Gebäude zugeordnet ist
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID des Campus
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID des Campus aus dem Import
                            name:
                              type: string
                              description: Der Name des Campus
                            mosesTypeCode:
                              type: string
                              description: Der Typcode des Campus im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad des Campus
        default:
          description: Unerwarteter Fehler
  /fachsemesterzuordnung:
    get:
      summary: Informationen zur Fachsemesterzuordnung abrufen
      tags:
        - Weiteres
      parameters:
        - $ref: '#/components/parameters/pageNumber'
      responses:
        '200':
          description: Erfolgreiche Abfrage der Fachsemesterzuordnung
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                    description: Die Gesamtzahl der Seiten mit Fachsemesterzuordnungen (in diesem Fall 159)
                  pageNumber:
                    type: integer
                    description: Die aktuelle Seitennummer (in diesem Fall 1)
                  pageSize:
                    type: integer
                    description: Die Anzahl der Fachsemesterzuordnungen pro Seite (in diesem Fall 50)
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Die eindeutige ID der Fachsemesterzuordnung
                        eidFromImport:
                          type: string
                          description: Die eindeutige ID der Fachsemesterzuordnung aus dem Import
                        mosesTypeCode:
                          type: string
                          description: Der Typcode der Fachsemesterzuordnung im MOSES-System
                        endpointPath:
                          type: string
                          description: Der Endpunkt-Pfad der Fachsemesterzuordnung
                        lvVorlage:
                          type: object
                          description: Die Vorlage der Lehrveranstaltung
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Vorlage der Lehrveranstaltung
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Vorlage der Lehrveranstaltung aus dem Import
                            name:
                              type: string
                              description: Der Name der Vorlage der Lehrveranstaltung
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Vorlage der Lehrveranstaltung im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Vorlage der Lehrveranstaltung
                        metakursGruppe:
                          type: object
                          description: Die Metakursgruppe
                          properties:
                            id:
                              type: integer
                              description: Die eindeutige ID der Metakursgruppe
                            eidFromImport:
                              type: string
                              description: Die eindeutige ID der Metakursgruppe aus dem Import
                            name:
                              type: string
                              description: Der Name der Metakursgruppe
                            mosesTypeCode:
                              type: string
                              description: Der Typcode der Metakursgruppe im MOSES-System
                            endpointPath:
                              type: string
                              description: Der Endpunkt-Pfad der Metakursgruppe
                        semesterTyp:
                          type: string
                          description: Der Typ des Semesters (z. B. "WINTER")
                        fachsemester:
                          type: integer
                          description: Das Fachsemester
        default:
          description: Unerwarteter Fehler
