{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://stundenplan.eah-jena.de/moses/api"
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "responses": {
          "200": {
            "description": "Ein einfaches \"pong\" als Lebenszeichen"
          }
        },
        "operationId": "v1_ping_get"
      }
    },
    "/v1/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_status_get"
      }
    },
    "/v1/timeslot": {
      "get": {
        "tags": [
          "Timeslot"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETimeslot"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_timeslot_getAll"
      }
    },
    "/v1/timeslot/{id}": {
      "get": {
        "tags": [
          "Timeslot"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETimeslot"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_timeslot_{id}_getById"
      }
    },
    "/v1/buchung": {
      "get": {
        "tags": [
          "Buchung"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "veroeffentlicht",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchung_getAll"
      }
    },
    "/v1/buchung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Buchung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchung_getByEid"
      }
    },
    "/v1/buchung/{id}": {
      "get": {
        "tags": [
          "Buchung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchung_{id}_getById"
      }
    },
    "/v1/buchungsgruppe": {
      "get": {
        "tags": [
          "Buchungsgruppe"
        ],
        "parameters": [
          {
            "name": "cvId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "veroeffentlicht",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchungsgruppe"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchungsgruppe_getAll"
      }
    },
    "/v1/buchungsgruppe/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Buchungsgruppe"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchungsgruppe"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchungsgruppe_getByEid"
      }
    },
    "/v1/buchungsgruppe/{id}": {
      "get": {
        "tags": [
          "Buchungsgruppe"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EBuchungsgruppe"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_buchungsgruppe_{id}_getById"
      }
    },
    "/v1/llp/buchung/{semester}/{lveNummer}": {
      "get": {
        "tags": [
          "LlpBuchung"
        ],
        "parameters": [
          {
            "name": "semester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lveNummer",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELlpBuchung"
                },
                "example": "No example provided."
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ELlpBuchung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_llp_buchung_{semester}_{lveNummer}_find"
      }
    },
    "/v1/llp/buchung/{semester}": {
      "get": {
        "tags": [
          "LlpBuchung"
        ],
        "parameters": [
          {
            "name": "semester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELlpBuchung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_llp_buchung_{semester}_findAll"
      }
    },
    "/v1/llp/stundenplan/{semester}/{username}": {
      "get": {
        "tags": [
          "LlpStundenplan"
        ],
        "parameters": [
          {
            "name": "semester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {}
            }
          }
        },
        "operationId": "v1_llp_stundenplan_{semester}_{username}_findAll"
      }
    },
    "/v1/stundenplan/{verlaufsplan}": {
      "get": {
        "tags": [
          "Stundenplan"
        ],
        "parameters": [
          {
            "name": "verlaufsplan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_stundenplan_{verlaufsplan}_findAll"
      }
    },
    "/v1/stundenplan/{verlaufsplan}/{fachsemester}": {
      "get": {
        "tags": [
          "Stundenplan"
        ],
        "parameters": [
          {
            "name": "verlaufsplan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fachsemester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_stundenplan_{verlaufsplan}_{fachsemester}_findAll"
      }
    },
    "/v1/stundenplan/{verlaufsplan}/{fachsemester}/{gruppe}": {
      "get": {
        "tags": [
          "Stundenplan"
        ],
        "parameters": [
          {
            "name": "verlaufsplan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fachsemester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gruppe",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_stundenplan_{verlaufsplan}_{fachsemester}_{gruppe}_findAll"
      }
    },
    "/v1/calveranstaltung": {
      "get": {
        "tags": [
          "Veranstaltung"
        ],
        "parameters": [
          {
            "name": "lehrveranstaltungId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "organisationseinheitId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "veroeffentlicht",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ECalVeranstaltung"
                  }
                },
                "example": "No example provided."
              }
            },
            "description": ""
          }
        },
        "operationId": "v1_calveranstaltung_getAll"
      }
    },
    "/v1/calveranstaltung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Veranstaltung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECalVeranstaltung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_calveranstaltung_getByEid"
      }
    },
    "/v1/calveranstaltung/{id}": {
      "get": {
        "tags": [
          "Veranstaltung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECalVeranstaltung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_calveranstaltung_{id}_getById"
      }
    },
    "/v1/verlaufsplan": {
      "get": {
        "tags": [
          "Verlaufsplan"
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_verlaufsplan_findAll"
      }
    },
    "/v1/vplgruppe/{verlaufsplan}": {
      "get": {
        "tags": [
          "VplGruppe"
        ],
        "parameters": [
          {
            "name": "verlaufsplan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_vplgruppe_{verlaufsplan}_findAll"
      }
    },
    "/v1/vplgruppe/{verlaufsplan}/{fachsemester}": {
      "get": {
        "tags": [
          "VplGruppe"
        ],
        "parameters": [
          {
            "name": "verlaufsplan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "fachsemester",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response",
            "content": {
              "application/json": {},
              "application/xml": {}
            }
          }
        },
        "operationId": "v1_vplgruppe_{verlaufsplan}_{fachsemester}_findAll"
      }
    },
    "/v1/person": {
      "get": {
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_person_getAll"
      }
    },
    "/v1/person/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_person_getByEid"
      }
    },
    "/v1/person/{id}": {
      "get": {
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_person_{id}_getById"
      }
    },
    "/v1/person/benutzername/{benutzername}": {
      "get": {
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "benutzername",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_person_benutzername_{benutzername}_getByUsername"
      }
    },
    "/v1/personessential": {
      "get": {
        "tags": [
          "PersonEssential"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_personessential_getAll"
      }
    },
    "/v1/personessential/{id}": {
      "get": {
        "tags": [
          "PersonEssential"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EPerson"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_personessential_{id}_getById"
      }
    },
    "/v1/campus": {
      "get": {
        "tags": [
          "Campus"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECampus"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_campus_getAll"
      }
    },
    "/v1/campus/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Campus"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECampus"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_campus_getByEid"
      }
    },
    "/v1/campus/{id}": {
      "get": {
        "tags": [
          "Campus"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ECampus"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_campus_{id}_getById"
      }
    },
    "/v1/gebaeude": {
      "get": {
        "tags": [
          "Gebaeude"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EGebaeude"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_gebaeude_getAll"
      }
    },
    "/v1/gebaeude/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Gebaeude"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EGebaeude"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_gebaeude_getByEid"
      }
    },
    "/v1/gebaeude/{id}": {
      "get": {
        "tags": [
          "Gebaeude"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EGebaeude"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_gebaeude_{id}_getById"
      }
    },
    "/v1/raum": {
      "get": {
        "tags": [
          "Raum"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERaum"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raum_getAll"
      }
    },
    "/v1/raum/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Raum"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERaum"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raum_getByEid"
      }
    },
    "/v1/raum/{id}": {
      "get": {
        "tags": [
          "Raum"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ERaum"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raum_{id}_getById"
      }
    },
    "/v1/raumeigeschaft": {
      "get": {
        "tags": [
          "Raumeigeschaft"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumeigeschaft_getAll"
      }
    },
    "/v1/raumeigeschaft/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Raumeigeschaft"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumeigeschaft_getByEid"
      }
    },
    "/v1/raumeigeschaft/{id}": {
      "get": {
        "tags": [
          "Raumeigeschaft"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumeigeschaft_{id}_getById"
      }
    },
    "/v1/raumtyp": {
      "get": {
        "tags": [
          "Raumtyp"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumtyp_getAll"
      }
    },
    "/v1/raumtyp/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Raumtyp"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumtyp_getByEid"
      }
    },
    "/v1/raumtyp/{id}": {
      "get": {
        "tags": [
          "Raumtyp"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_raumtyp_{id}_getById"
      }
    },
    "/v1/spacingtype": {
      "get": {
        "tags": [
          "Spacingtype"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ESpacingType"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_spacingtype_getAll"
      }
    },
    "/v1/spacingtype/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Spacingtype"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ESpacingType"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_spacingtype_getByEid"
      }
    },
    "/v1/spacingtype/{id}": {
      "get": {
        "tags": [
          "Spacingtype"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ESpacingType"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_spacingtype_{id}_getById"
      }
    },
    "/v1/verlaufsplanzuordnung": {
      "get": {
        "tags": [
          "Verlaufsplanzuordnung"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "metakursgruppeId",
            "in": "query",
            "description": "(VertiefungsrichtungId bzw. StupoId)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lvvId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursGruppeMetakurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verlaufsplanzuordnung_getAll"
      }
    },
    "/v1/verlaufsplanzuordnung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Verlaufsplanzuordnung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursGruppeMetakurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verlaufsplanzuordnung_getByEid"
      }
    },
    "/v1/verlaufsplanzuordnung/{id}": {
      "get": {
        "tags": [
          "Verlaufsplanzuordnung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursGruppeMetakurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verlaufsplanzuordnung_{id}_getById"
      }
    },
    "/v1/fachsemesterzuordnung": {
      "get": {
        "tags": [
          "Fachsemesterzuordnung"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "stupoId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lvvId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "vertiefungsrichtungId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursPlanEintrag"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_fachsemesterzuordnung_getAll"
      }
    },
    "/v1/fachsemesterzuordnung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Fachsemesterzuordnung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursPlanEintrag"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_fachsemesterzuordnung_getByEid"
      }
    },
    "/v1/fachsemesterzuordnung/{id}": {
      "get": {
        "tags": [
          "Fachsemesterzuordnung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EMetakursPlanEintrag"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_fachsemesterzuordnung_{id}_getById"
      }
    },
    "/v1/studiengang": {
      "get": {
        "tags": [
          "Studiengang"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStudiengang"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengang_getAll"
      }
    },
    "/v1/studiengang/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Studiengang"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStudiengang"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengang_getByEid"
      }
    },
    "/v1/studiengang/{id}": {
      "get": {
        "tags": [
          "Studiengang"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStudiengang"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengang_{id}_getById"
      }
    },
    "/v1/studiengangart": {
      "get": {
        "tags": [
          "Studiengangart"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengangart_getAll"
      }
    },
    "/v1/studiengangart/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Studiengangart"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengangart_getByEid"
      }
    },
    "/v1/studiengangart/{id}": {
      "get": {
        "tags": [
          "Studiengangart"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_studiengangart_{id}_getById"
      }
    },
    "/v1/stupo": {
      "get": {
        "tags": [
          "Studien- und Prüfungsordnung"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStupo"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_stupo_getAll"
      }
    },
    "/v1/stupo/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Studien- und Prüfungsordnung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStupo"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_stupo_getByEid"
      }
    },
    "/v1/stupo/{id}": {
      "get": {
        "tags": [
          "Studien- und Prüfungsordnung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EStupo"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_stupo_{id}_getById"
      }
    },
    "/v1/vertiefungsrichtung": {
      "get": {
        "tags": [
          "Vertiefungsrichtung"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "stupoId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVertiefungsrichtung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_vertiefungsrichtung_getAll"
      }
    },
    "/v1/vertiefungsrichtung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Vertiefungsrichtung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVertiefungsrichtung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_vertiefungsrichtung_getByEid"
      }
    },
    "/v1/vertiefungsrichtung/{id}": {
      "get": {
        "tags": [
          "Vertiefungsrichtung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVertiefungsrichtung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_vertiefungsrichtung_{id}_getById"
      }
    },
    "/v1/kurs": {
      "get": {
        "tags": [
          "Kurs"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EKurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_kurs_getAll"
      }
    },
    "/v1/kurs/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Kurs"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EKurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_kurs_getByEid"
      }
    },
    "/v1/kurs/{id}": {
      "get": {
        "tags": [
          "Kurs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EKurs"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_kurs_{id}_getById"
      }
    },
    "/v1/makroturnus": {
      "get": {
        "tags": [
          "Makroturnus"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_makroturnus_getAll"
      }
    },
    "/v1/makroturnus/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Makroturnus"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_makroturnus_getByEid"
      }
    },
    "/v1/makroturnus/{id}": {
      "get": {
        "tags": [
          "Makroturnus"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_makroturnus_{id}_getById"
      }
    },
    "/v1/lehrveranstaltung": {
      "get": {
        "tags": [
          "Lehrveranstaltung"
        ],
        "parameters": [
          {
            "name": "lvvId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "semesterId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELehrveranstaltung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lehrveranstaltung_getAll"
      }
    },
    "/v1/lehrveranstaltung/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Lehrveranstaltung"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELehrveranstaltung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lehrveranstaltung_getByEid"
      }
    },
    "/v1/lehrveranstaltung/{id}": {
      "get": {
        "tags": [
          "Lehrveranstaltung"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELehrveranstaltung"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lehrveranstaltung_{id}_getById"
      }
    },
    "/v1/veranstaltungsformat": {
      "get": {
        "tags": [
          "Veranstaltungsformat"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_veranstaltungsformat_getAll"
      }
    },
    "/v1/veranstaltungsformat/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Veranstaltungsformat"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_veranstaltungsformat_getByEid"
      }
    },
    "/v1/veranstaltungsformat/{id}": {
      "get": {
        "tags": [
          "Veranstaltungsformat"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_veranstaltungsformat_{id}_getById"
      }
    },
    "/v1/lvvorlage": {
      "get": {
        "tags": [
          "Lehrveranstaltungsvorlage"
        ],
        "parameters": [
          {
            "name": "kursId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELvVorlage"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lvvorlage_getAll"
      }
    },
    "/v1/lvvorlage/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Lehrveranstaltungsvorlage"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELvVorlage"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lvvorlage_getByEid"
      }
    },
    "/v1/lvvorlage/{id}": {
      "get": {
        "tags": [
          "Lehrveranstaltungsvorlage"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ELvVorlage"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_lvvorlage_{id}_getById"
      }
    },
    "/v1/oetyp": {
      "get": {
        "tags": [
          "Organisationseinheitstyp"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_oetyp_getAll"
      }
    },
    "/v1/oetyp/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Organisationseinheitstyp"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_oetyp_getByEid"
      }
    },
    "/v1/oetyp/{id}": {
      "get": {
        "tags": [
          "Organisationseinheitstyp"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EEntity"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_oetyp_{id}_getById"
      }
    },
    "/v1/organisationseinheit": {
      "get": {
        "tags": [
          "Organisationseinheit"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EOrganisationseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_organisationseinheit_getAll"
      }
    },
    "/v1/organisationseinheit/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Organisationseinheit"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EOrganisationseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_organisationseinheit_getByEid"
      }
    },
    "/v1/organisationseinheit/{id}": {
      "get": {
        "tags": [
          "Organisationseinheit"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EOrganisationseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_organisationseinheit_{id}_getById"
      }
    },
    "/v1/verwaltungseinheit": {
      "get": {
        "tags": [
          "Verwaltungseinheit"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVerwaltungseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verwaltungseinheit_getAll"
      }
    },
    "/v1/verwaltungseinheit/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Verwaltungseinheit"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVerwaltungseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verwaltungseinheit_getByEid"
      }
    },
    "/v1/verwaltungseinheit/{id}": {
      "get": {
        "tags": [
          "Verwaltungseinheit"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EVerwaltungseinheit"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_verwaltungseinheit_{id}_getById"
      }
    },
    "/v1/dauer": {
      "get": {
        "tags": [
          "Dauer"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EDauer"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_dauer_getAll"
      }
    },
    "/v1/dauer/eid/{eidFromImport}": {
      "get": {
        "tags": [
          "Dauer"
        ],
        "parameters": [
          {
            "name": "eidFromImport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EDauer"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_dauer_getByEid"
      }
    },
    "/v1/dauer/{id}": {
      "get": {
        "tags": [
          "Dauer"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EDauer"
                },
                "example": "No example provided."
              }
            }
          }
        },
        "operationId": "v1_dauer_{id}_getById"
      }
    },
    "/v1/semester": {
      "get": {
        "tags": [
          "Semester"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "maximum": 100000,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "A comma-separated list of URL-encoded EIDs. Each EID should be URL-encoded using percent-encoding.",
            "schema": {
              "type": "string"
            },
            "example": "The EID \",!ö\" should be given as such \"%2C%21%C3%B6\". Hence the EID-list ,!ö, ,!ö becomes %2C%21%C3%B6, %2C%21%C3%B6"
          },
          {
            "name": "eidlist",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ESemester"
                },
                "example": "No example provided."
              }
            }
[...]
