<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (c) 2014-2022 Fachhochschule Erfurt, Ernst-Abbe-Hochschule Jena
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     <!--    for scanning QR-Code  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- is there a cam available -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- standard is to request an autofocus. A lot of cams does not have one -->
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <!-- for Firebase/Google-Play-Services -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- newer firebase libraries have minSDK of 19 -->
    <uses-sdk tools:overrideLibrary="com.google.firebase.firebase_analytics, com.google.firebase.messaging, com.google.firebase.measurement, com.google.android.gms.measurement.sdk, com.google.firebase.measurement_impl, com.google.android.gms.measurement.api, com.google.android.gms.measurement.sdk.api, com.google.android.gms.measurement_base" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:name=".Main"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <!-- note: screenOrientation=unspecified means using the sensor but respecting rotation lock,
                    screenOrientation=fullSensor uses the sensor ignoring the device's rotation lock status -->
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:autoVerify="false">
                <!-- start this app when clicking on a link like: www.eah-jena.de/navigation -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.eah-jena.de"
                    android:pathPrefix="/navigation" />
            </intent-filter>
            <intent-filter>
                <!-- start this app when clicking on a link like: www.eah-jena.de/navigation -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.eah-jena.de"
                    android:pathPrefix="/navigation" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="unspecified">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhe.fhemobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.news.NewsSingleActivity"
            android:label="@string/title_activity_news_single"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="unspecified">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhe.fhemobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.phonebook.EmployeeInformationActivity"
            android:label="@string/title_activity_employee_information"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="unspecified">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhe.fhemobile.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MapsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fhe.fhemobile.activities.MainActivity" />
        </activity>
<!--        <activity android:name=".widgets.homescreen.NewsListWidgetConfigureActivity"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

<!--        <receiver-->
<!--            android:name=".widgets.homescreen.NewsListWidget"-->
<!--            android:enabled="@bool/newsWidgetEnabled"-->
<!--            android:label="@string/appwidget_news"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--                <action android:name="de.fhe.fhemobile.DATA_FETCHED" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/news_list_widget_info" />-->
<!--        </receiver>-->

        <service
            android:name=".services.PushNotificationService"
            android:exported="true">
            <!-- android:permission="TODO" -->

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

<!--        <service-->
<!--            android:name=".widgets.homescreen.NewsListRemoteService"-->
<!--            android:permission="android.permission.BIND_REMOTEVIEWS" />-->

<!--        <service-->
<!--            android:name=".widgets.homescreen.NewsListRemoteFetchService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->
        <!-- android:permission="TODO" -->

    </application>

</manifest>
